<p>shopping-cart works!</p>

<!-- product data -->
<table *ngIf="shopping_cart_products">
    <thead>
      <tr>
        <th scope="col" style="width: 50px; text-align: left;">ID</th>
        <th scope="col" style="width: 150px; text-align: left;">Name</th>
        <th scope="col" style="width: 50px; text-align: left;">Price</th>
        <th scope="col" style="width: 200px; text-align: left;">Description</th>
        <th scope="col" style="width: 100px; text-align: left;">Category</th>
        <th scope="col" style="width: 50px; text-align: left;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of shopping_cart_products">
        <td>{{ product._id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
        <td>
            <button (click)="removeProductFromShoppingCart(product._id)">Remove from Cart</button>
        </td>         
      </tr>
    </tbody>
    <tfoot>
        <tr>
          <td>Total Price:</td>
          <td>
            {{ totalPrice() }}
          </td>          
        </tr>
      </tfoot>      
  </table>
  <button (click)="checkout()">Checkout</button>

  <p>end shopping-cart</p>