<p>shopping-cart works!</p>

<!-- product catalog -->
<div class="center-form">  
  <div class="product-grid">
    <mat-card *ngFor="let product of this.sharedService.shopping_cart" (click)="openDialog(product)">    
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.price }}$</mat-card-subtitle>
          <img mat-card-md-image src="assets/images/orange_1.png" >
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<h1>Total Price: {{ totalPrice() }}$</h1>  
<button mat-raised-button extended color="primary" (click)="this.sharedService.checkout_all()">Checkout</button>
<!-- TODO add a confirmation alert -->

<!-- <button (click)="this.sharedService.removeProductFromCartByID(product._id)">Remove from Cart</button> -->
