<p></p>

<mat-toolbar color="primary">  

  <img class="logo-img" src="assets/images/company-logo.svg" alt="Company Logo" routerLink="/">

  

  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      Company Logo
    </a>
    <a class="navbar-item" routerLink="/">Catalog</a>
    <a class="navbar-item" routerLink="/about">About</a>
    <a class="navbar-item" routerLink="/contact">Contact</a>
  </div>



  <div class="navbar-menu">
    <div class="navbar-end">
      <!-- TODO only show those if the user is logged in -->

      <!-- shopping cart -->
      <a class="navbar-item" routerLink="shopping_cart">
        <mat-icon matBadge="{{this.sharedService.shopping_cart.length}}" matBadgeColor="warn" color="primary">shopping_cart</mat-icon>            
          <span class="cdk-visually-hidden">
            Shopping cart
          </span>
          Cart
    </a>

      <!-- Wish List -->
      <a class="navbar-item" routerLink="shopping_cart">
        <mat-icon matBadge="{{this.sharedService.wish_list.length}}" matBadgeColor="warn" color="accent">favorite</mat-icon>            
          <span class="cdk-visually-hidden">
            Wish List
          </span>
          Wish List
    </a>      
    </div>
  </div>     

</mat-toolbar>

<!-- navbar.component.html -->

