<p></p>
<div class="contact-page">
    <h1>About Us</h1>  
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <img [src]="'assets/images/about_us1.jpg'" alt="about us image 1" style="max-width: 256px; max-height: 256px;" />
    <p>Aenean interdum, lorem id faucibus pretium, ipsum orci iaculis lectus, et dignissim libero dolor a mauris. Sed id lobortis sem, in hendrerit elit. Phasellus in blandit lorem. Proin et hendrerit nisl. Aenean cursus rhoncus sapien, vitae accumsan nibh. Mauris rhoncus egestas tincidunt.</p>    
    <img [src]="'assets/images/about_us2.jpg'" alt="about us image 2" style="max-width: 256px; max-height: 256px;" />
    <p>Phasellus id mi eget purus rhoncus tincidunt. Curabitur sagittis faucibus purus ut placerat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras consequat mauris leo, non fermentum magna lacinia eget. Suspendisse volutpat, lacus at pharetra ultricies, leo nunc aliquet diam, a tincidunt augue lectus a metus.</p>
</div>