.example-button-row button,
.example-button-row a {
  margin-right: 8px;  
}

.button-row{
    justify-content: center; 
}

.bigger-text {
    font-size: 24px; /* Adjust the size as needed */
  }

button[color="pink-button"] {
    background-color: rgb(255, 86, 86);
    color: white;
}

button[color="red-button"] {
    background-color: rgb(255, 0, 0);
    color: white;
}  

