<div class="center-form">

<!-- products-list.component.html -->

<!-- Search form -->
<form [formGroup]="searchForm" (ngSubmit)="filterProducts()">
  <mat-form-field appearance="fill">
    <mat-label>Search:</mat-label>
    <input matInput id="search_string" formControlName="search_string" required>
    <mat-icon matSuffix (click)="filterProducts()">search</mat-icon>
  </mat-form-field>
</form>

<!-- product catalog -->
<div class="product-grid">
  <mat-card *ngFor="let product of this.sharedService.filtered_products_list" (click)="openDialog(product)">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price }}$</mat-card-subtitle>
        <img mat-card-md-image src="assets/images/orange_1.png" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{product.description}}
    </mat-card-content>
  </mat-card>
</div>

<!-- Add new product form -->
<!-- TODO should only be visilbe to admin -->
<p></p>
<h1>Add new product</h1>
<!-- product-form.component.html -->
<form [formGroup]="productForm" (ngSubmit)="onSubmitNewProductForm()" class="mat-form" *ngIf="this.sharedService.isUserAdmin">
  <mat-form-field class="mat-form-add-product">
    <mat-label>Name:</mat-label>
    <input matInput type="text" id="name" formControlName="name" required>
  </mat-form-field>

  <mat-form-field class="mat-form-add-product">
    <mat-label>Price:</mat-label>
    <input matInput type="number" id="price" formControlName="price" required>
  </mat-form-field>

  <mat-form-field class="mat-form-add-product">
    <mat-label>Description:</mat-label>
    <textarea matInput id="description" formControlName="description" required></textarea>
  </mat-form-field>

  <mat-form-field class="mat-form-add-product">
    <mat-label>Category:</mat-label>
    <mat-select id="category" formControlName="category" required>
      <mat-option value="yellow">Yellow</mat-option>
      <mat-option value="red">Red</mat-option>
      <mat-option value="blue">Blue</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit">Add Product</button>
</form>

<!-- Restricted Test button -->
<button (click)="restricted_test()">Restricted Test</button>

</div>
