<!-- product catalog -->
<div class="center-form">  
  <div class="product-grid">
    <mat-card *ngFor="let product of this.sharedService.wish_list" (click)="openDialog(product)">    
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.price }}$</mat-card-subtitle>
          <img mat-card-md-image src="assets/images/orange_1.png" >
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>  
  <h1>Total Price: {{ totalPrice() }}$</h1>    
  <button mat-raised-button extended color="primary" (click)="AddAllProductsToCart()">Add All Products To Cart</button>  
</div>

<!-- TODO add a confirmation alert -->
